<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325734147798-b53bob7iju00j9nletbfg7u7ureupcl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325734147798-b53bob7iju00j9nletbfg7u7ureupcl6</string>
	<key>API_KEY</key>
	<string>AIzaSyAvrxycahf0-z9n42Alvx1APHBl16xI6H0</string>
	<key>GCM_SENDER_ID</key>
	<string>325734147798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tribesocial.SwiftfulFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325734147798:ios:7b6a285992da211f9e8b77</string>
</dict>
</plist>